{
    "extends": [
        "airbnb",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "max-len": ["error", 150],
        "import/prefer-default-export": 0,
        "no-underscore-dangle": 0,
        "no-mixed-operators": 0,
        "no-unused-expressions": 0
    }
}